*{
    padding: 0px;
    margin: 0px;
}
#main{
    width: 90%;
    margin: auto;
   
}
#nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}
#p1{
    margin-top: 30px;
    margin-right: 40px;
    font-size: 20px;
    color: gray;
}

#box{
    display: flex;
    border: 1px solid gray;
    margin-top: 10px;
    
}
#box1{
    width: 70%;
   
    
}
#box2{
    width: 25%;
    height: 350px;
   
    margin-right: 5%;
    padding: 10px 20px;
}
#box21{
    margin: 20px;
    background-color:#f5f5f5 ;
    margin-left: 5px;
    
}
#box22{
    display: flex;
    background-color:#f5f5f5 ;
    border: 1px solid gray;
}


#box2>h2{
    color:#7d6666;
    font-size: 20px;
}
#box21>input{
margin: 20px 0px 20px 20px;
padding: 5px;
}
#box21>button{
    padding: 5px;
}
#box21>button:last-child{
    width: 230px;
    margin-left: 20px;
    margin-bottom: 10px;
}
#box22>div>h3:last-child{
    background-color:white  ;
}
#box22>div>h3{
    margin: 20px;
    font-size: 15px;
    color: gray;

}
#h3{
    color: black;
}
#address{
    width: 95%;
    margin: auto;
    margin-top: 50px;
    background-color: #f5f5f5;
    padding-left: 20px;
    padding-top: 20px;


}
#add1>input{
  margin: 20px 30px 20px 0px;
}
#add2>input{
    margin: 20px 30px 20px 0px;
}
#button1{
    padding: 5px 20px;
    margin: 20px;
}
#button2{
    padding: 5px 20px;
    margin: 20px;
}
#button3{
    padding: 5px 20px;
    margin: 20px;
}
#button1:hover{
    color:#a5cd39 ;
    border-color: #a5cd39;
    cursor: pointer;
}
#button2:hover{
    color:#a5cd39 ;
    border-color: #a5cd39;
    cursor: pointer;
}
#button3:hover{
    color:#a5cd39 ;
    border-color: #a5cd39;
    cursor: pointer;
}
#button4{
    padding: 5px 20px;
    margin: 20px;
    color: #f5f5f5;
    background-color: #666666;
    border: none;
    cursor: pointer;
}
#button5{
    padding: 5px 20px;
    margin: 20px;
    cursor: pointer;
}
#box h3{
    color: rgb(94, 91, 91);
}
#box h2{
    color: rgb(94, 91, 91);
}
#gift{
    width: 100%;
    height: 70px;
    border: 1px solid gray;
    margin: 10px 0px;
}
#button6{
    margin-left: 60%;
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}
#dil{
    width: 100%;
    margin: auto;
    height: 70px;
    border: 1px solid gray;
    margin: 10px 0px;

}
#pay{
    width: 100%;
    height: 70px;
    border: 1px solid gray;
    margin: 10px 0px;
}
#H1{
    margin-top: 5px;
}
h1{
  font-size: 20px;
  color: gray; 
  margin-left: 20px; 
  margin-top: 20px;
}
