*{
    margin: 0%;
    padding: 0%;
}

/*Navbar styling*/
.navbar{
    display: grid;
    grid-template-rows: auto auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin: 5px 0% 0% 0%;
}
.nav-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-flex:nth-child(1){
    margin: 0% 15% 1.5% 15%;
}
.nav-flex:nth-child(1) *{
    margin: 0px 10px 0px 5px;
}
.nav-flex:nth-child(2){
    margin: 0% 16% 1% 16%;
}
.nav-flex>img{
    width: 110px;
    height: 50px;
}
#input{
    padding: 13px 10px 6px 10px;
    border: 1px solid black;
    height: 20px;
    border-radius: 4px;
    margin-top: 4px;
    width: 500px;
}
#input input{
    width: 350px;
    height: 20px;
    border: none;
    margin: auto;
    margin-top: 0px;
}
#address{
    display: flex;
    flex-direction: row;
    background-color: rgb(241, 239, 239);
    border-radius: 5px;
    padding: 1px 10px 1px 10px;
    margin-top: 5px;
}
#address:hover{
    display: flex;
    flex-direction: row;
    background-color: rgb(233, 229, 229);
    border-radius: 5px;
    padding: 1px 10px 1px 10px;
    margin-top: 5px;
}
#address>img{
    width: 25px;
    height: 25px;
    margin: auto;
    margin-right: 10px;
}
#address p{
    margin: auto;
    font-size: 12px;
}
#user-logo{
    background-color: rgb(241, 239, 239);
    padding: 5px 12px 5px 12px;
    margin-top: 5px;
    border-radius: 5px;
}
#user-logo:hover{
    background-color: rgb(227, 224, 224);
    padding: 5px 12px 5px 12px;
    margin-top: 5px;
    border-radius: 5px;
}
#user-logo img{
    margin: auto;
}
#cart-logo{
    background-color: rgb(251, 215, 215);
    padding: 5px 12px 5px 12px;
    margin-top: 5px;
    border-radius: 5px;
}
#cart-logo:hover{
    background-color: rgb(247, 207, 207);
    padding: 5px 12px 5px 12px;
    margin-top: 5px;
    border-radius: 5px;
}
#cart-logo img{
    margin: auto;
}

#category{
    background-color: rgb(94,149,1);
    color: white;
    padding: 10px;
    margin-top: -9px;
    border-radius: 6px;
    margin-left: -25px;
}
#category:hover{
    background-color: rgb(89, 137, 5);
}
#downarrow{
    font-size: small;
}
#category p{
    margin: auto auto auto auto;
}
#offers{
    display: flex;
    background-color: rgb(241, 239, 239);
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    height: 20px;
    cursor: pointer;
}
#offers:hover{
    display: flex;
    background-color: rgb(238, 233, 233);
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    height: 20px;
    cursor: pointer;
}
#offers>img{
    width: 15px;
    height: 15px;
    margin: auto;
}
#drop-down{
    font-size: small;
    cursor: pointer;
}
#drop-down:hover{
    color: red;
}
#efv{
    display: inline-block;
    position: relative;
}
#efv:hover{
    color: red;
    cursor: pointer;
}
#efv::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: red;
}
#efv:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: red;
}


#tea{
    display: inline-block;
    position: relative;
}
#tea:hover{
    color: red;
    cursor: pointer;
}
#tea::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: red;
}
#tea:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: red;
}



#ghee{
    display: inline-block;
    position: relative;
}
#ghee:hover{
    color: red;
    cursor: pointer;
}
#ghee::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: red;
}
#ghee:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: red;
}



#nandhini{
    display: inline-block;
    position: relative;
}
#nandhini:hover{
    color: red;
    cursor: pointer;
}
#nandhini::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: red;
}
#nandhini:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: red;
}



#Freshvegetables{
    display: inline-block;
    position: relative;
}
#Freshvegetables:hover{
    color: red;
    cursor: pointer;
}
#Freshvegetables::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: red;
}
#Freshvegetables:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: red;
}

/* Navbar styling ends here */

/* Footer styling */
footer{
    background-color: rgb(18, 17, 17);
    
}
.f1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 30px;
    
}
.f-flex1{
    display: flex;
    flex-direction: column;
    
}
.f-flex1>img{
    width: 150px;
}
.f-flex1 p,h3{
    color: white;
    line-height: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.store{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}
.store img:first-child{
    width: 100px;
    margin: auto 20px;
}
.store img:last-child{
    width: 100px;
    height: 46px;
}
.store img:hover{
    box-shadow: rgba(249, 247, 247, 0.35) 0px 5px 15px;
}
.socialacc{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.socialacc img{
    margin-right: 20px;
    background-color: white;
    cursor: pointer;
}
.socialacc img:hover{
    box-shadow: rgba(249, 247, 247, 0.35) 0px 5px 15px;
}
.f-flex1:last-child p{
    width: fit-content;
    align-items: center;
    padding: 2px 15px 2px 15px;
    font-size: small;
    margin: 15px 0px 10px 0px;
    background-color: rgb(25, 24, 24);
    border-radius: 5px;
    transition: 0.2s;
}
.f-flex1:last-child p:hover{
    color: black;
    background-color: rgb(250, 248, 248);

}
.f-flex1:last-child h4{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
    font-size: small;
}
.cities{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 30px 160px 20px 160px;
}

.cities p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px 80px 20px 60px;
    font-size: small;
    line-height: 28px;
}

.line{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-bottom: 2px dotted white;
}

.f-grid{
    margin: 1.4% 0% 0% 0%;
    padding-bottom: 3%;
    display: grid;
    grid-template-columns: auto auto;
    color: white;
    line-height: 30px;
    font-size: small;
    justify-content: space-evenly;
}
.f-subgrid{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 90px;
}
.f-grid h4,p{
    cursor: pointer;
}
.copyright{
    color: white;
    background-color: black;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}