*{
    margin: 0%;
    padding: 0%;
}
.navbar{
    display: grid;
    grid-template-rows: auto auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    margin: 5px 0% 0% 0%;
}
.nav-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-flex:nth-child(1){
    margin: 0% 15% 1.5% 15%;
}
.nav-flex:nth-child(1) *{
    margin: 0px 10px 0px 5px;
}
.nav-flex:nth-child(2){
    margin: 0% 16% 1% 16%;
}
.nav-flex>img{
    width: 110px;
    height: 50px;
}
#input{
    padding: 13px 10px 6px 10px;
    border: 1px solid black;
    height: 20px;
    border-radius: 4px;
    margin-top: 4px;
    width: 500px;
}
#input input{
    width: 350px;
    height: 20px;
    border: none;
    margin: auto;
    margin-top: 0px;
}
#address{
    display: flex;
    flex-direction: row;
    background-color: rgb(241, 239, 239);
    border-radius: 5px;
    padding: 1px 10px 1px 10px;
    margin-top: 5px;
}
#address:hover{
    display: flex;
    flex-direction: row;
    background-color: rgb(233, 229, 229);
    border-radius: 5px;
    padding: 1px 10px 1px 10px;
    margin-top: 5px;
}
#address>img{
    width: 25px;
    height: 25px;
    margin: auto;
    margin-right: 10px;
}
#address p{
    margin: auto;
    font-size: 12px;
}
#user-logo{
    background-color: rgb(241, 239, 239);
    padding: 5px 12px 5px 12px;
    margin-top: 5px;
    border-radius: 5px;
}
#user-logo:hover{
    background-color: rgb(227, 224, 224);
    padding: 5px 12px 5px 12px;
    margin-top: 5px;
    border-radius: 5px;
}
#user-logo img{
    margin: auto;
}
#cart-logo{
    background-color: rgb(251, 215, 215);
    padding: 5px 12px 5px 12px;
    margin-top: 5px;
    border-radius: 5px;
}
#cart-logo:hover{
    background-color: rgb(247, 207, 207);
    padding: 5px 12px 5px 12px;
    margin-top: 5px;
    border-radius: 5px;
}
#cart-logo img{
    margin: auto;
}

#category{
    background-color: rgb(94,149,1);
    color: white;
    padding: 10px;
    margin-top: -9px;
    border-radius: 6px;
    margin-left: -25px;
}
#category:hover{
    background-color: rgb(89, 137, 5);
}
#downarrow{
    font-size: small;
}
#category p{
    margin: auto auto auto auto;
}
#offers{
    display: flex;
    background-color: rgb(241, 239, 239);
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    height: 20px;
    cursor: pointer;
}
#offers:hover{
    display: flex;
    background-color: rgb(238, 233, 233);
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    height: 20px;
    cursor: pointer;
}
#offers>img{
    width: 15px;
    height: 15px;
    margin: auto;
}
#drop-down{
    font-size: small;
    cursor: pointer;
}
#drop-down:hover{
    color: red;
}
#efv{
    display: inline-block;
    position: relative;
}
#efv:hover{
    color: red;
    cursor: pointer;
}
#efv::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: red;
}
#efv:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: red;
}


#tea{
    display: inline-block;
    position: relative;
}
#tea:hover{
    color: red;
    cursor: pointer;
}
#tea::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: red;
}
#tea:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: red;
}



#ghee{
    display: inline-block;
    position: relative;
}
#ghee:hover{
    color: red;
    cursor: pointer;
}
#ghee::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: red;
}
#ghee:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: red;
}



#nandhini{
    display: inline-block;
    position: relative;
}
#nandhini:hover{
    color: red;
    cursor: pointer;
}
#nandhini::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: red;
}
#nandhini:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: red;
}



#Freshvegetables{
    display: inline-block;
    position: relative;
}
#Freshvegetables:hover{
    color: red;
    cursor: pointer;
}
#Freshvegetables::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    color: red;
}
#Freshvegetables:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    color: red;
}
