* {
  padding: 0px;
  margin: 0px;
}
#main {
  width: 90%;
  margin: auto;
}
#addnew {
  font-size: 15px;
  color: rgb(29, 131, 194);
}
#bt {
  margin-left: 30%;
}
#nav {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
#p1 {
  margin-top: 30px;
  margin-right: 40px;
  font-size: 20px;
  color: gray;
}
#box {
  display: flex;
  border: 0px transparent;
  margin-top: 10px;
}
#box1 {
  width: 70%;
}
#box2 {
  width: 25%;
  height: 350px;

  margin-right: 5%;
  padding: 10px 20px;
}
#box21 {
  margin: 20px;
  background-color: #f5f5f5;
  margin-left: 5px;
}
#box22 {
  display: flex;
  background-color: #f5f5f5;
  border: 1px solid gray;
}


#box2 > h2 {
  color: #7d6666;
  font-size: 20px;
}
#box21 > input {
  margin: 20px 0px 20px 20px;
  padding: 5px;
}
#box21 > button {
  padding: 5px;
  cursor: pointer;
}
#box21 > button:last-child {
  width: 230px;
  margin-left: 20px;
  margin-bottom: 10px;
}

#box22 > div > h3 {
  margin: 20px;
  font-size: 15px;
  color: gray;
  width: 100%;
}
#h3 {
  color: black;
}

#box h3 {
  color: rgb(94, 91, 91);
}
#box h2 {
  color: rgb(94, 91, 91);
}
#gift {
  width: 100%;
  height: 70px;
  border: 1px solid gray;
  margin: 10px 0px;
}
.button6 {
  margin-left: 60%;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}
#butt {
  margin-left: 55%;
}
#dil {
  width: 100%;
  margin: auto;
  height: 70px;
  border: 1px solid gray;
  margin: 10px 0px;
}
#pay {
  width: 100%;
  height: 70px;
  border: 1px solid gray;
  margin: 10px 0px;
}
.H1 {
  margin-top: 5px;
}
h1 {
  font-size: 20px;
  color: gray;
  margin-left: 20px;
  margin-top: 20px;
}
#payment {
  width: 100%;

  border: 1px solid gray;
  margin: 10px 0px;
}
#pay1 {
  width: 100%;
  height: 70px;
  border: 1px solid gray;
  margin: 0px 0px;
}
#pay2 {
  width: 100%;
  height: 120px;
  border: 1px solid gray;
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
}
#pay21 {
  width: 25%;
  margin-left: 10%;
  border: 1px solid gray;
  margin-top: 15px;
  margin-bottom: 10px;
}
#pay22 {
  width: 25%;
  margin-right: 10%;
  border: 1px solid gray;
  margin-top: 15px;
  margin-bottom: 10px;
}
#pay2 h2 {
  font-size: 18px;
  color: #4a4f5a;
  font-weight: lighter;
}
h2 + p {
  font-size: 14px;
  color: gray;
  margin-top: 15px;
}
#NET {
  width: 95%;
  background-color: #f5f5f5;
  margin: auto;
  display: flex;
  margin-top: 15px;
}
#NET1 {
  width: 15%;
}
#NET1 > button {
  width: 100%;
  height: 40px;
  cursor: pointer;
}
#NET2 {
  width: 80%;
  height: 250px;
  border: 1px solid gray;
  margin: auto;
}
#NET2 > h2 {
  margin: 30px 20px;
}
#input1 {
  margin-left: 40px;
  margin-bottom: 20px;
}
#NET2 > label {
  margin-left: 40px;
}
#NET2 > h4 {
  margin-top: 20px;
  margin-left: 40px;
}
#NET2 > button {
  padding: 10px 20px;
  margin-left: 35%;
  margin-top: 10px;
  background-color: #9ec225;
  border: none;
}
#NET2 > button:hover {
  cursor: pointer;
  background-color: #9ec225;
}
